.nav {
  display: flex;
  width: 100%;
  min-height: 64px;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(25, 29, 36);
  color: rgb(166, 173, 186);
  z-index: 9999;
}

.h1 {
  margin: 0 8px;
}

.a {
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

div > .a {
  font-size: 14px;
  font-weight: 600;
}

div > .a:hover {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}

.right {
  display: flex;
  height: 48px;
  text-align: center;
  margin-left: auto;
  padding: 0 8px;
}

.svg {
  display: none;
  height: 100%;
  padding: 0 12px;
  fill: rgb(255, 255, 255);
  vertical-align: middle;
}

.dark {
  display: block;
}

.input {
  height: 48px;
  padding: 0 16px;
  border: none;
  border-radius: 6px;
  background-color: rgb(75, 85, 99);
}

.input::placeholder {
  color: rgb(166, 173, 186);
}

.cart {
  margin-left: 4px;
  padding: 0;
}

.cart > .svg {
  display: block;
}

.lightNav {
  background-color: rgb(255, 255, 255);
  color: rgb(55, 65, 81);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.lightA {
  background-color: rgb(255, 255, 255);
  color: rgb(55, 65, 81);
}

.lightSvg, .lightCart {
  display: block;
  fill: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.lightInput {
  background-color: rgb(209, 213, 219);
}

div > .lightA:hover, .lightCart:hover {
  border-radius: 6px;
  background-color: rgb(209, 213, 219);
}